.container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 20px;
    padding-bottom: 20px;

    @media screen and (max-width: 320px) {
        max-width: 320px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    @media screen and (max-width: 768px) {
        
        max-width: 768px;
        padding-top: 32px;
        padding-bottom: 32px;

    }

    @media screen and (max-width: 1280px)  {
        max-width: 1280px;
        padding-top: 32px;
       padding-bottom: 32px;

    }}

    .gallery__list{
        
    }