
h1,
h2,
h3,
p {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

container {
  width:100%;
  padding: 20px;
  margin:0 auto;

  @media screen and(min-width: 320px) {
    width: 320px;
    padding: 20px;
  }
  @media screen and(min-width: 768px) {
    width: 768px;
    padding: 32px;
  }
  @media screen and(min-width: 1280px) {
    width: 1280px;
    padding: 32px;
    }
}


    
    .gallery__list{
        
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        gap: 20px;
        
        @media screen and (max-width: 768px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
        @media screen and (max-width: 1280px) {
            flex-direction: row;
            flex-wrap: wrap;
            gap: 32px;
        }
    }

    .gallery__item{
        flex-basis: calc(100% / 1 - 0*32px);
        justify-content: space-between;
        width: 280px;
        height: 443px;
        border-radius: 5px;
        

        @media screen and (max-width: 768px) {
            width: 336px;
            height: 494px;
            flex-basis: calc((100% - 32px) / 2 );
        }

        @media screen and (max-width: 1280px) {
            width: 395px;
            height: 634px;
            flex-basis: calc((100% - 64px) / 3 );
        }


        &-image {
           
            border-radius: 5px;
            width: 280px;
            height: 402px;

            @media screen and (max-width: 768px) {
                width: 336px;
                height: 455px;
            }

            @media screen and (max-width: 1280px) {
                width: 395px;
                height: 574px;
            }
        }

    }

    

    .gallery__item-description {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.33;
        width: 280px;
        margin-top: 10px;
        

        @media screen and (max-width: 768px) {
            width: 336px;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            margin-top: 8px;
        }

        @media screen and (max-width: 1280px) {
            font-size: 20px;
            line-height: 1.2;
            width: 395px;
            margin-top: 12px;
        }

        &-title {
            text-transform: uppercase;
            color: #000000;
        }

        &-genres {
            text-transform: capitalize;
            color: #B92F2C;
        }
    }