.page-header {
  width: 100%;
  height: 460px;
  padding: 14px;
  background-image: url('../img/header/img-header-320@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 16px;
    height: 222px;
    background-image: url('../img/header/img-header-1200@1x.png');
  }
}
.page-header__menu {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .page-header__navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4px;
  }
}
.header-button {
  width: 87px;
  height: 34px;
  background: #ffffff;
  border-radius: 100px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.header-button.library-page {
  width: 113px;
  height: 34px;
  color: white;
  background: #000000;
}
.header-button.watched {
  width: 102px;
  height: 34px;
  color: white;
  background: #b92f2c;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  border-radius: 100px;
}
.search-input {
  padding: 10px 26px;
  background-color: white;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: black;
  width: 252px;
  border: none;
  outline: none;
}
.page-header__logo {
  display: flex;
  justify-content: center;
  margin-top: 258px;
  margin-right: 65px;
  margin-left: 65px;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    margin-top: 116px;
    justify-content: flex-start;
  }
}
.logo-text {
  margin-bottom: 18px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.page-header__movie-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}
.page-header__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header__movie-menu {
    position: absolute;
    top: 0;
    right: 30;
  }
}
