:root {
  --animation-cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header {
  width: 100%;
  height: 460px;
  padding: 14px;
  background-image: url('../img/header/img-header-320@1x.png');
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 768px) {
    padding: 16px;
    height: 222px;
    background-image: url('../img/header/img-header-1200@1x.png');
  }
}
.page-header__menu {
  display: flex;
  gap: 4px;
  margin-bottom: 8px;
}
@media screen and (min-width: 768px) {
  .page-header__navigation {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    gap: 4px;
  }
}
.header-button {
  padding: 12 24 12 24;
  background-color: #ffffff;
  border-radius: 100px;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  transition: background-color 250ms var(--animation-cubic),
    filter 250ms var(--animation-cubic), color 250ms var(--animation-cubic);
}
.header-button.active {
  color: #ffffff;
  background-color: #000000;
}
.nav-button:hover,
.nav-button:active,
.nav-button:focus {
  background-color: #000000;
  color: #ffffff;
}
.library-button.active {
  color: #ffffff;
  background: #b92f2c;
  box-shadow: 0px 0px 7px rgba(27, 27, 27, 0.15);
  border-radius: 100px;
}
.library-button:hover,
.library-button:active,
.library-button:focus {
  background-color: #b92f2c;
  color: #ffffff;
}
.search-input {
  font-family: 'Roboto', sans-serif;
  padding: 10px 26px;
  background-color: white;
  border-radius: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: black;
  width: 252px;
  height: 34px;
  border: none;
  outline: none;
  @media screen and (min-width: 767px) {
    width: 165px;
    height: 38px;
  }
}
.page-header__logo {
  position: absolute;

  display: flex;
  justify-content: center;
  margin-top: 258px;
  margin-right: 65px;
  margin-left: 65px;
  margin-bottom: 16px;

  cursor: pointer;
  @media screen and (max-width: 767px) {
    bottom: -390px;
    left: -35px;
  }
  @media screen and (min-width: 768px) {
    margin-top: 116px;
    justify-content: flex-start;
  }
}
.logo-text {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.page-header__movie-menu {
  display: flex;
  position: absolute;
  top: 396px;
  left: 35px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  @media screen and (min-width: 768px) {
    left: 430px;
  }
  @media screen and (min-width: 1280px) {
    left: 950px;
  }
}
.page-header__container {
  position: relative;
}
@media screen and (min-width: 768px) {
  .page-header__movie-menu {
    position: absolute;
    top: 0;
    right: 30;
  }
}
.is-hidden {
  display: none;
}
