.backdrop-movie {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 16;
  overflow: auto;
}
.modal__container {
  position: absolute;
  z-index: 20;
  background-color: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  @media screen and(min-width: 320px) {
    min-width: 280px;
    padding: 48px 20px 40px 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media screen and(min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 704px;
    padding: 40px 72px 40px 36px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  @media screen and(min-width: 1280px) {
    width: 806px;
    padding: 40px 12px 40px 12px;
  }
}
.modal__render {
  @media screen and(min-width: 768px) {
    display: flex;
  }
}
.modal__close-button {
  display: flex;
  position: absolute;
  top: 8px;
  right: 8px;
  height: 30px;
  width: 30px;
  background-color: transparent;
  border: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  cursor: pointer;
  &:hover .modal__icon-close {
    fill: #ac2525;
  }
}

.modal__image {
  border-radius: 5px;
  width: 100%;
  min-width: 240px;
  margin-bottom: 20px;
  @media screen and(min-width: 768px) {
    margin-right: 68px;
    width: 264px;
  }
  @media screen and(min-width: 1280px) {
    margin-right: 16px;
    max-width: 375px;
  }
}

.modal__title {
  margin: 0px 0px 20px 0px;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
  color: #000000;
  @media screen and(min-width: 1280px) {
    font-size: 30px;
    line-height: 1.1;
  }
}
.modal__description {
  table-layout: fixed;
  margin-bottom: 20px;
  width: 100%;
}
.description__head {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: left;
  text-transform: uppercase;
  color: #8c8c8c;
  width: 110px;
  @media screen and(min-width: 1280px) {
    width: 150px;
  }
}
.description__data {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  display: flex;
  align-items: center;
  color: #000000;
  margin-bottom: 8px;
}
.description__head-titel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  color: #000000;
}
.description__vote {
  width: 36px;
  height: 16px;
  margin-right: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #ffffff;
  text-align: center;
  background: #ac2525;
  border-radius: 5px;
}
.description__votes {
  width: 36px;
  height: 16px;
  margin-left: 3px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
  text-align: center;
  background: #f7f7f7;
  border-radius: 5px;
}
.modal__about {
  display: flex;
  align-items: center;
  margin: 0px 0px 20px 0px;
  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.3;
  color: #000000;
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.modal__overview {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  color: #000000;
  overflow-y: auto;
  margin: 0px 0px 20px 0px;
  max-height: 250px;
}
.modal__button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 4px;
  @media screen and(min-width: 780px) {
    gap: 8px;
  }
  @media screen and(min-width: 1280px) {
    gap: 10px;
    justify-content: left;
  }
}
.modal__button {
  padding: 10px 12px;

  background: #ffffff;
  color: #b92f2c;

  border: 1pxp solid #000000;
  border-radius: 100px;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  @media screen and(min-width: 780px) {
    padding: 12 18;
  }
  @media screen and(min-width: 1280px) {
    padding: 14 32;
    font-size: 14px;
  }
  &--lss {
    color: rgb(182, 172, 172);
    background-color: #f1eeee;
    border: 1px solid#f1eeee;
  }

  &:hover,
  &:focus {
    color: white;
    background-color: #b92f2c;
    border: 1px solid #b92f2c;
  }
}

.lss {
  color: rgb(182, 172, 172);
  background-color: #f1eeee;
  border: 1px solid#f1eeee;
}
