<main id="main">
  <div class="gallery container">
    <ul class="gallery__list list">
      <!--  
<li class="gallery__item" data-id="">
            
            <img class="gallery__item-image" src=""     
            alt=""
            width="280"
            loading="lazy"
            />
            <div class="gallery__description">
            <p class="gallery__description-title"> title </p>
            <p class="gallery__description-genres"> genre | year </p>
            </div>
</li> 
-->
    </ul>
  </div>
</main>
