<header class="page-header">
  <div class="container page-header__container">
    <nav class="page-header__navigation">
      <ul class="page-header__menu">
        <li class="page-header__item">
          <button class="header-button home-page nav-button current">
            Home
          </button>
        </li>
        <li class="page-header__item">
          <button class="header-button library-page nav-button">
            My Library
          </button>
        </li>
      </ul>

      <form class="form_header">
        <input
          class="search-input"
          type="text"
          id="movie-search"
          placeholder="Movie search"
          type="submit"
          value=""
        />
      </form>
    </nav>
    <div class="wrapper">
      <div class="page-header__logo">
        <svg class="page-header__logo_icon" width="50" height="50">
          <use href="./img/icons.svg#logo-icon"></use>
        </svg>
        <p class="logo-text">Filmoteka</p>
      </div>

      <ul class="page-header__movie-menu my-library is-hidden">
        <li class="page-header__movie-menu-item">
          <button class="header-button library-button watched">Watched</button>
        </li>
        <li class="page-header__movie-menu-item">
          <button class="header-button library-button queue">Queue</button>
        </li>
      </ul>
    </div>
  </div>
</header>
