<header class="page-header">
  <div class="container page-header__container">
    <nav class="page-header__navigation">
      <ul class="page-header__menu">
        <li class="page-header__item search-field">
          <input
            class="search-input"
            type="text"
            id="movie-search"
            placeholder="Movie"
          />
          <button class="search-button">
            <svg class="page-header__search_icon" width="16" height="16">
              <!-- <use href="../img/icons.svg#search-icon"></use> -->
            </svg>
          </button>
        </li>
        <li class="page-header__item">
          <button class="header-button home-page nav-button current">
            Home
          </button>
        </li>
        <li class="page-header__item">
          <button class="header-button library-page nav-button">
            My Library
          </button>
        </li>
      </ul>
    </nav>
    <ul class="page-header__movie-menu my-library">
      <li class="page-header__movie-menu-item watched">
        <button class="header-button library-button">Watched</button>
      </li>
      <li class="page-header__movie-menu-item queue">
        <button class="header-button library-button">Queue</button>
      </li>
    </ul>
    <ul class="page-header__logo">
      <li class="page-header__logo-item temp-logo">
        <!-- <svg class="page-header__logo_icon" width="50" height="50">
          <use href="../img/logo-icon.svg"></use>
        </svg> -->
      </li>
      <li class="page-header__logo-item logo-text">Filmoteka</li>
    </ul>
  </div>
</header>
