<div class="backdrop-movie backdrop is-hidden">

    <div class="modal__container">
      <button class="modal__close-button" data-modal_close="">
        <svg class="modal__icon-close" width="40" height="40">
          <use href="./img/symbol-defs.svg#icon-close"></use>
        </svg>
      </button>
      <div class="modal__render">


        <!-- <div class="modal__image-container" data-year=${release_date} data-action=${id}>
            
            
               <img src= 
                
              class="modal__image"
              alt=title
              loading="lazy"
              />
                </div>
                <div class="info">
                    <h3 class="modal__title">${title}</h3>
                    <table class="modal__description description">
                        <tbody>
                          <tr class="description__line">
                            <th class="description__head">Vote / Votes</th>
                            <td class="description__data">
                              <span class="description__vote">vote</span> /
                              <span class="description__votes">votes</span>
                            </td>
                          </tr>
                          <tr class="description__line">
                            <th class="description__head">Popularity</th>
                            <td class="description__data">popularity</td>
                          </tr>
                          <tr class="description__line">
                            <th class="description__head">Original title</th>
                            <td class="description__head-titel">Original title</td>
                          </tr>
                          <tr class="description__line">
                            <th class="description__head">Genre</th>
                            <td class="description__data">genre</td>
                          </tr>
                        </tbody>
                      </table>
                      <p class="modal__about">About</p>
                      <p class="modal__overview">about</p>
                      <div class="modal__button-container">
                          <button class="modal__button --active-btn getWatched" type="button" data-action=id>
                           
                          </button>
                          <button class="movie-modal__button getQueue" type="button" data-action=id>
                            
                          </button>
                        </div> -->



      </div>
  
    </div>
  </div>